<%= link_to 'LogOut', login_path %>

<h1> Welcome <%= @user.username%></h1>

<p>You may <%= link_to 'View All Musicals', musicals_path %> or <%= link_to 'View All Submitted Reviews', reviews_path %></p>


<img src=https://images.unsplash.com/photo-1546217303-900da152c2c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80>



<style>
body{
  background:grey;
  color:black;
  font-size:25px;
}
h1{
  text-align:center;
}
p{
  text-align:center;
}
img{
  height:90%;
  width:100%;
}
</style>