 <%= link_to 'Log Out', logout_path %> <br>
 <h1> Musicals at the Buell Theatre (2020) </h1>
 
 <ul>
 <% @musicals.each do |musical| %>    
    <li><%= link_to musical.name, musical_path(musical.id) %></li>
 <% end %>
 </ul>





 

<style>
body{
  background:grey;
  color:black;
  font-size:25px;
}
h1{
  text-align:center;
}
p{
  text-align:center;
}
</style>