 <%= link_to 'LogOut', login_path %> or <%= link_to 'View All Submitted Reviews', reviews_path %></p>

 <h3> Musicals at the Buell Theatre (2020) </h3>
 
 <ul>
 <% @musicals.each do |musical| %>   
    <li><%= link_to musical.name, musical_path(musical) %></li>
 <% end %>
 </ul>







<style>
body{
  background:grey;
  color:black;
  font-size:25px;
}
h2{
  text-align:center;
}
h3{
  text-align:center;
}
p{
  text-align:center;
}
</style>