<h2> Leave a Musical Review</h2>

<%= render "form" %>









<style>
body{
  background:grey;
  color:black;
  font-size:25px;
}
h2{
  text-align:center;
}
p{
  text-align:center;
}
h5{
    text-align:right;
}
</style>