<%= link_to 'LogOut', login_path %>

<% if @review.errors.any? %>
 <% @review.errors.full_messages.each do |mess| %>
  <li><%= mess %></li>
  <% end %>
<% end %>

<h2> Leave a Musical Review</h2>
<p>Choose a Musical from the list below:</p>


<%= render "form" %>


























<style>
body{
  background:grey;
  color:black;
  font-size:25px;
}
h2{
  text-align:center;
}
p{
  text-align:center;
}
/* h5{
    text-align:right;
} */
</style>